<!-- <nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
  <div class="scrollbar-inner">
    <div class="sidenav-header  align-items-center">
      <a class="navbar-brand" href="/">
        Pill-Dispenser
      </a>
    </div>
    <div class="navbar-inner">

      <div class="collapse navbar-collapse" id="sidenav-collapse-main">

        <ul class="navbar-nav">

        </ul>

        <hr class="my-3">

        <ul class="navbar-nav mb-md-3">          
          <li class="nav-item">
            <a class="nav-link active active-pro" 
               target="_blank" 
               href="/">
              <i class="ni ni-send text-dark"></i>
              <span class="nav-link-text">Support</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav> -->